/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.header{
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    margin-bottom: 24px;
    background-color: #AA0601;
    /* flex-wrap: wrap; */
}
.header h1{
    background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png');
    text-indent: 101%;
	white-space: nowrap;
    overflow: hidden;
    width: 80px;
    height: 48.57px;
    background-size: cover;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li a{
    text-decoration: none;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-right: 28px;
    font: normal normal normal 20px/30px Noto Sans;
}


.secHeader{
    display: flex;
    background-color: #650300;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-around;
    margin-top: -25px;
}
.secMenu{
    display: flex;
}

.secMenu li a{
    text-decoration: none;
    color: #ffffff;
    font: normal normal bold 20px/24px Noto Sans;
    padding-right: 48px;
    font-size: 20px;
}
/* .secMenu li a:hover{
    border-bottom: 1px solid blue;
} */
.secHeader h2 {
    text-indent: 101%;
	white-space: nowrap;
    overflow: hidden;
    width: 24px;
    height: 24px;
    background-size: cover;
    background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week4/icon-search.svg');

}

.content{
    align-items: center; 
    width: 1110px;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 82px;
    margin-bottom: 156px;
}


.blog{
    display: flex;
    margin-bottom: 60px;
}
.blog-content{
    margin-left: 30px;
    /* border: 1px solid black;*/
    flex-direction: column;
}
.blog-content h2{
    font: normal normal normal 32px/63px Noto Sans;
    color: #650300;
    
}
.title{
    font: normal normal medium 20px/30px Roboto;
}
.subtitle{
    font: normal normal normal 20px/30px Noto Sans;
    margin-bottom: 24px;
    display: block;
}
.blog-content p{
    font: normal normal normal 20px/30px Noto Sans;
    margin-bottom: 30px;
}
.blog-content a{
    font: normal normal normal 20px/30px Noto Sans;
    text-decoration: none;
    /* display: block; */
    font-size: 36px;
    color: #650300;
    font-weight: bold;
    /* margin-left: 24px; */
    /* border: 1px solid black; */
    float: right;
}


.pages{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pages li a{
    text-decoration: none;
    color: #555555;
    font: normal normal normal 19px/29px Roboto;
    /* border-right: 1px solid #555555;
    border-bottom: 1px solid #555555;
    border-top: 1px solid #555555; */
    border: 1px solid #555555;
    padding: 10px 14px;
}
.pages li a:hover{
    background-color: black;
    color: #ffffff;
    transition-duration: 500ms;
}


.footer{
    background-color: #AA0601;
    /* display: column; */
    flex-direction: row;
}
.first-line{
    display: flex;
    justify-content: space-around;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal normal 16px/24px Noto Sans;
}
.container li a{
    text-decoration: none;
    /* font: normal normal normal 16px/24px Noto Sans; */
    font-size: 16px;
    margin-right: 32px;
    color: #ffffff;
    align-items: center;
    display: block;
    margin-top: 36px;
    font-family: 微軟正黑體;
}

.contactMe{
    box-sizing: border-box;
    display: block;
    width: 1070px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.contactMe li{
    display: flex;
}
.contactMe li p{
    color: #ffffff;
    font-size: 36px;
    font: normal normal normal 36px/54px Roboto;
    margin-left: 16px;
}


.footer-polocy{
    justify-content: space-around;
    display: flex;
    padding-bottom: 30px;
    /* margin-top: 20px; */
}
.footer-polocy ul{
    display: flex;
    text-decoration: none;
}
.footer-polocy ul li{
    margin-right: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.footer-polocy ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font: normal normal normal 14px/21px Noto Sans;
}
.footer-logo{
    background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png');
    text-indent: 101%;
	white-space: nowrap;
    overflow: hidden;
    width: 80px;
    height: 48.57px;
    background-size: cover;
}